.container-multiplataform {
    margin-top: 100px;
    text-align: center;
    margin: 0 auto;
    height: 870px;
    display: flex;
    flex-flow: column;
    background-image: url("/images/multiplataform-backgroundpng.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.container-multiplataform h1, h2 {
    font-family: "Poppins-Bold";
    font-size: 30px;
    color: #FFFFFF;
    margin: 0 auto;
}
.container-multiplataform h1 {
    margin-top: 97px;
}

.container-multiplataform h2 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.container-multiplataform span {
    font-family: "Poppins-Regular";
    font-size: 16px;
    color: #FFFFFF;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 850px;
}

.list-multiplataform {
    font-family: "Poppins-Medium";
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    width: 1200px;
    height: 550px;
    box-sizing: border-box;
}

.list-multiplataform li {
    margin: 1px;
    padding: 60px;
    margin-left: -50px;
}

.list-multiplataform p {
    margin-top: 25px;
}

#ar-design {
    padding-left: 398px;
}

#modeling-3d {
    padding-right: 395px;
}
