.container-projects {
    margin-top: 60px;
    padding-top: 146px;
    display: flex;
    flex-flow: column nowrap;
    height: 800px;
    border: solid 2px red;
    margin: 5px;
    align-items: center;
}

.container-projects h1 {
    font-family: "Poppins-Bold";
    font-size: 30px;
    color: #FFFFFF;
    margin: 0 auto;
}

.container-projects span {
    font-family: "Poppins-Regular";
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 490px;

}

.list-projects {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding: 110px;
    border: solid 2px blue;
    row-gap: 30px;
}

