.container-projects {
    margin-top: 60px;
    padding-top: 146px;
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    align-items: center;
}

.container-projects h1 {
    font-family: "Poppins-Bold";
    font-size: 30px;
    color: #FFFFFF;
    margin: 0 auto;
}

.container-projects span {
    font-family: "Poppins-Regular";
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 35%;
    margin-top: 20px;
}

.list-projects {
    margin-top: -30px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding: 126px;
    row-gap: 30px;
}

.list-projects li:hover {
    transform: scale(1.1);
}

#see-all-2 {
    margin-top: -80px;
    font-family: "Rubik-Medium";
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    background-color: #5444a0fa;
    padding: 17px 29px;
    border-radius: 8px;
}

#see-all-2:hover {
    background-color: #382a7afa;
}